* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  touch-action: pan-x pan-y;
  width: 100%;
}

body {
  background-color: #282828;
  color: #f1f1f1;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.15;
}