{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "editor.formatOnSave": true,
  "endOfLine": "lf",
  "printWidth": 90,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none"
}